#!/usr/bin/make -f

export DH_VERBOSE = 1
export CARGO_HOME = $(CURDIR)/debian/cargo_home

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_install:
	install -Dm755 target/release/nitrogen debian/nitrogen/usr/bin/nitrogen
	install -Dm644 examples/nitrogen.service debian/nitrogen/usr/lib/systemd/user/nitrogen.service

override_dh_auto_test:
	cargo test --release --locked || true

override_dh_auto_clean:
	cargo clean || true
	rm -rf debian/cargo_home
